@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>YouTube Video Downloader.</h3>
    Discover unlimited video download possibilities with YDownloader, the leading solution for bypassing YouTube's download limitations. YDownloader effectively fills the void left by native download features, delivering a fast, secure, and user-friendly method to simplify and optimize your video downloading experience.
</div>
